# Forwarding Caddyfile that allows CORS

my.server.com {

    # Normalize double slashes
    uri replace // /

    # Handle preflight OPTIONS requests
    @preflight {
        method OPTIONS
    }
    handle @preflight {
        respond "" 204
        header {
            Access-Control-Allow-Origin "*"
            Access-Control-Allow-Methods "GET, POST, OPTIONS"
            Access-Control-Allow-Headers "Content-Type, X-API-Key"
        }
    }
    # API key protection
    @unauthorized {
        not header X-API-Key secret-api-key1
        not header X-API-Key secret-api-key2
    }

    handle @unauthorized {
        respond "Forbidden" 403
    }

    # Forward everything else to the Ollama server
    reverse_proxy 10.10.24.10:11444 {
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
	    # CORS headers
        header_down Access-Control-Allow-Origin "*"
        header_down Access-Control-Allow-Methods "GET, POST, OPTIONS"
        header_down Access-Control-Allow-Headers "Content-Type, X-API-Key"

    }

}

